.buttonEl {
  margin: 41px auto 0 0;
  padding: 16px 54px 16px 53px;
  border-radius: 500px;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.4;
  transition: all 0.2s ease-out;
}
.buttonEl:hover {
  color: $arrow-color;
  background-color: $white;
}
